$color-white: white;
$color-light: lightgray;
$color-body: #f3f5f8;
$color-colShadow: #e4e7eb;
$color-blue: blue;
$color-lightBlue: royalblue;
$color-gray: #66757f;
$color-black: black;

$font-primary: "Fira Sans", sans-serif;

$shadow-dark: 0px 4px 8px
  rgba(
    $color: #000000,
    $alpha: 0.1
  );
