* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Fira Sans", sans-serif;
  &:visited,
  &:active,
  &:link {
    color: inherit;
  }
}
